h2{
    background-color: darksalmon;
    text-align: center;
    caption-side: right;
}
p2{
    font-size: xx-large;
    background-color: rgb(206, 146, 57);
    color: blueviolet;
    text-align: left;
}
.himansu
{
    background: linear-gradient(white);
    content: ' His future profession <strong style="color: cornflowerblue;">SURGEON</strong> .He is a science lover and is preparing for NEET examination because of <strong style="color: cornflowerblue;">HSC board examination</strong> but he sure is going to become a serious legend in docterate .';
    mix-blend-mode: difference;
    filter: blur(3px);
    filter: brightness(200%);
}


.wrapper
{
    display: flex;
    align-items: center;
    justify-content: center;
    background: center;
}
.txt
{
    font-size: larger;
    color:rgb(239, 242, 245);
    font-weight: bold;
    text-transform: uppercase;
}
.txt::before
{
    content: '""" Just Believe in the belief that kept you fired up and running behind what you dreamt off ;until now...... """';
    position:absolute ;
    mix-blend-mode: difference;
    filter: blur(3px);
}
.neon-wrapper
{
    display: inline-flex;
    filter: brightness(150%);
    
}
.glowImages::before, .glowImages::after
{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(-45deg, #00ff64,#00fff4,#ff00ff,#92567a,#099fff);
    background-size: 400%;
    height: calc(100% + 5px);
    width: calc(100% + 5px);
    z-index: -1;
    animation: change 40s linear infinite;
}

@keyframes change{
    0%{
        background-position: 0 0 ;

    }
    50%{
        background-position:400% 0 ;
    }
    100%{
        background-position: 0 0;
    }
}
.glowImages::after
{
    filter: blur(40px);
    opacity: -4;
}
